* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    padding: 15px 10px;
    border: 1px solid darkgray;
    background-color: lightgray;
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav li:not(:first-child) {
    position: relative;
}

.nav li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;
    display: inline-block;
}

.nav a {
    padding: 10px 15px;
    color: black;
    font-size: .99em;
}

.nav a:hover {
    background-color:#34495e;
    color: darkgray;
    border-radius: 5px;
}

#photo {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;   
    display: flex; 
}

li {
    display: inline;
}

a {
    color: mediumblue;
    text-decoration: none;
}

.container {
    padding: 16px;
    text-align: center;
}

span.psw {
    padding-top: 16px;
}

button {
    background-color: blue;
}

button a {
    color: white;
}

#login-submit {
    margin-top: 10px;
}

#post-submit {
    margin-top: 30px;
}

#message {
    vertical-align: top;
    flex-shrink: 0;
    flex-grow: 1;
}

.file input {
    display: none;  
}

.file #file-label {
    background-color: darkgray;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}

/* index */

.temp {
    background-color: transparent;
    text-align: left;
    border: 0;
}

article {
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    border-radius: 10px;
}

.post_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_heading > img {
    width: 30px;
    height: 30px;
}

.post_body {
    padding-top: 16px;
}

.post_body > img {
    width: 100%;
    margin-bottom: 16px;
}

.post_body > p {
    margin-top: 0;
}

.post_footer {
    display: flex;
    align-items: center;
}

.post_footer > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.post_footer > img ~ span {
    margin-right: 10px;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
}

/* grid */

h3 {
    margin-top: 0;
}

main {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;
}

.box {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 15px;
}

.text-center {
    text-align: center;
}

form input {
    margin-bottom: 8px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mt-15 {
    margin-top: 15px;
}

.d-inline-block {
    display: inline-block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* addPost */
.form-group {
    display: flex;
    margin-bottom: 15px;
}

.form-group > label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
}