* {
    font-family: sans-serif;
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}

a {
    color: mediumblue;
    text-decoration: none;
}

/* utilities */ 

.text-center {
    text-align: center;
}

.mt-15 {
    margin-top: 15px;
}

.d-inline-block {
    display: inline-block;
}

.box {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 15px;
}

/* header */

header {
    padding: 15px 10px;
    border: 1px solid darkgray;
    background-color: lightgray;
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex; 
}

nav li:not(:first-child) {
    position: relative;
}

nav li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;
    display: inline-block;
}

nav a {
    padding: 10px 15px;
    color: black;
    font-size: .99em;
}

nav a:hover {
    background-color:#34495e;
    color: #f1f1f1;
    border-radius: 5px;
}

#photo {
    width: 40px;
    height: 40px;
}

/* footer */

footer {
    padding: 15px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
}

/* grid */

main {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

aside {
    flex: 0.5 1 0;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 15px;
}

section {
    flex: 2 0 0;
}

@media (min-width: 481px) {
    section.section-small {
        flex: 0 0 300px;
    }
}

@media (max-width: 480px) {
    section {
        flex: 0 0 85vw;
    }
    aside {
        display: none;
    }
}

/* index */

article:not(:last-child) {
    margin-bottom: 20px;
}

.post_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_heading > img {
    width: 30px;
    height: 30px;
}

.post_body {
    padding-top: 16px;
    padding-bottom: 16px;
}

.post_body > img {
    width: 100%;
}

.post_body > p {
    margin: 0;
}

.post_body > img ~ p {
    margin-top: 10px;
}

.post_body > :not(:first-child) {
    margin-top: 10px;
}

.post_footer {
    display: flex;
    align-items: center;
}

.post_footer > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.post_footer > img + span {
    margin-right: 10px;
}

/* login */

form input {
    margin-bottom: 8px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form button {
    padding: 0 20px;
    height: 36px;
    background-color: blue;
    color: #fff;
}

#login-submit {
    margin-top: 10px;
}

/* addPost */

.form-group {
    display: flex;
    margin-bottom: 15px;
}

.form-group > label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
}

#post-submit {
    margin-top: 30px;
}

#message {
    vertical-align: top;
    flex-shrink: 0;
    flex-grow: 1;
}

.file #file-label {
    background-color: darkgray;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}

.file input {
    display: none;  
}
